{% extends "configure/conf_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}
