{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<selection>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="block">
                    <div class="title"><strong class="d-block">Добавление нового сенсора</strong></div>
                    <div class="block-body">
                        {{ wtf.quick_form(form, button_map={'submit_button': 'btn btn-success'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</selection>
{% endblock %}
