{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="card">

                    <div class="header">
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                <h4 class="title">Температурные датчики</h4>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="pull-right">
                                    <a class="btn btn-success btn-sm btn-fill" href="/add_device" role="button">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-10 col-xs-10">
                                Период запроса температур
                            </div>
                        </div>
                        <div class="row">
                            <form method="POST">
                                <div class="col-md-12 col-xs-12">
                                    {{ wtf.quick_form(form) }}
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Without JQuery
    var slider = new Slider("#ex6");
    slider.on("slide", function(sliderValue) {
        document.getElementById("ex6SliderVal").textContent = sliderValue;

    });
</script>
{% endblock %}