{% extends "base.html" %}
{% block content %}
<selection>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="block margin-bottom-sm">
                    <div class="title"><strong>Переключатели в системе</strong></div>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Пин</th>
                                <th>Функция</th>
                                <th>Место установки</th>
                                <th>Состояние</th>
                                <th>Редактировать</th>
                                <th>Удалить</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in tableItems %}

                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.pin}}</td>
                                <td>{{i.function}}</td>
                                <td>{{i.place}}</td>
                                <td>
                                    {% if not i.active %}

                                    <form action="/settings/switches/activate/{{i.id}}" method="post">
                                        {{ formactive.hidden_tag() }}
                                        {{ formactive.submit(class_="btn btn-sm btn-outline-success") }}
                                    </form>
                                    {% elif i.active %}
                                    <form action="/settings/switches/deactivate/{{i.id}}" method="post">
                                        {{ formdeactivate.hidden_tag() }}
                                        {{ formdeactivate.submit(class_="btn btn-sm btn-outline-danger") }}
                                    </form>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-outline-info btn-sm" href="/settings/switches/edit/{{i.id}}" role="button">Редактировать</a>

                                </td>
                                <td>
                                    <form action="/settings/switches/delete/{{i.id}}" method="post">
                                        {{ formdel.hidden_tag() }}
                                        {{ formdel.submit(class_="btn btn-sm btn-outline-danger") }}
                                    </form>
                                </td>

                                {% endfor %}

                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-2">
                <!-- Button trigger modal -->
                <a class="btn btn-outline-primary" href="/settings/add_switch" role="button">Добавить сенсор</a>
            </div>

        </div>
    </div>

</selection>
{% endblock %}
