{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1 class="text-center">Страница не существует</h1>
    <p class="text-center"><a href="{{ url_for('main.index') }}">Вернуться на главную</a></p>
</div>
{% endblock %}
