<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
    <title>{{ title }} / SmartHome</title>
    {% else %}
    <title>SmartHome</title>
    {% endif %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang("ru") }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome CSS-->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Custom Font Icons CSS-->
    <link href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link href="{{ url_for('static', filename='css/style.violet.css') }}" rel="stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='dom.png') }}">
    <!-- Карта сайта -->
    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">
    <!-- Chartist.css-->
    <link href="{{ url_for('static', filename='css/chartist.min.css') }}" rel="stylesheet">
    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/themify-icons.css') }}" rel="stylesheet">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
</head>
<body>


<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
            <div class="search-inner d-flex align-items-center justify-content-center">
                <div class="close-btn">Close <i class="fa fa-close"></i></div>
                <form id="searchForm" action="#">
                    <div class="form-group">
                        <input type="search" name="search" placeholder="What are you searching for...">
                        <button type="submit" class="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="navbar-header">
                <!-- Navbar Header--><a href="/index" class="navbar-brand">
                <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Smart</strong><strong>Home</strong></div>
                <div class="brand-text brand-sm"><strong class="text-primary">S</strong><strong>M</strong></div></a>
                <!-- Sidebar Toggle Btn-->
                <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>

            </div>
            <div class="align-content-center col-lg-7">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dark" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="right-menu list-inline no-margin-bottom">
                <div class="list-inline-item"><a href="#" class="search-open nav-link"><i class="icon-magnifying-glass-browser"></i></a></div>
                <div class="list-inline-item dropdown"><a id="navbarDropdownMenuLink1" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link messages-toggle"><i class="icon-email"></i><span class="badge dashbg-1">5</span></a>
                    <div aria-labelledby="navbarDropdownMenuLink1" class="dropdown-menu messages"><a href="#" class="dropdown-item message d-flex align-items-center">
                        <div class="profile"><img src="img/avatar-3.jpg" alt="..." class="img-fluid">
                            <div class="status online"></div>
                        </div>
                        <div class="content">   <strong class="d-block">Nadia Halsey</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">9:30am</small></div></a><a href="#" class="dropdown-item message d-flex align-items-center">
                        <div class="profile"><img src="img/avatar-2.jpg" alt="..." class="img-fluid">
                            <div class="status away"></div>
                        </div>
                        <div class="content">   <strong class="d-block">Peter Ramsy</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">7:40am</small></div></a><a href="#" class="dropdown-item message d-flex align-items-center">
                        <div class="profile"><img src="img/avatar-1.jpg" alt="..." class="img-fluid">
                            <div class="status busy"></div>
                        </div>
                        <div class="content">   <strong class="d-block">Sam Kaheil</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">6:55am</small></div></a><a href="#" class="dropdown-item message d-flex align-items-center">
                        <div class="profile"><img src="img/avatar-5.jpg" alt="..." class="img-fluid">
                            <div class="status offline"></div>
                        </div>
                        <div class="content">   <strong class="d-block">Sara Wood</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">10:30pm</small></div></a><a href="#" class="dropdown-item text-center message"> <strong>See All Messages <i class="fa fa-angle-right"></i></strong></a></div>
                </div>
                <!-- Tasks-->
                <div class="list-inline-item dropdown"><a id="navbarDropdownMenuLink2" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link tasks-toggle"><i class="icon-new-file"></i><span class="badge dashbg-3">9</span></a>
                    <div aria-labelledby="navbarDropdownMenuLink2" class="dropdown-menu tasks-list"><a href="#" class="dropdown-item">
                        <div class="text d-flex justify-content-between"><strong>Task 1</strong><span>40% complete</span></div>
                        <div class="progress">
                            <div role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar dashbg-1"></div>
                        </div></a><a href="#" class="dropdown-item">
                        <div class="text d-flex justify-content-between"><strong>Task 2</strong><span>20% complete</span></div>
                        <div class="progress">
                            <div role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" class="progress-bar dashbg-3"></div>
                        </div></a><a href="#" class="dropdown-item">
                        <div class="text d-flex justify-content-between"><strong>Task 3</strong><span>70% complete</span></div>
                        <div class="progress">
                            <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar dashbg-2"></div>
                        </div></a><a href="#" class="dropdown-item">
                        <div class="text d-flex justify-content-between"><strong>Task 4</strong><span>30% complete</span></div>
                        <div class="progress">
                            <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar dashbg-4"></div>
                        </div></a><a href="#" class="dropdown-item">
                        <div class="text d-flex justify-content-between"><strong>Task 5</strong><span>65% complete</span></div>
                        <div class="progress">
                            <div role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" class="progress-bar dashbg-1"></div>
                        </div></a><a href="#" class="dropdown-item text-center"> <strong>See All Tasks <i class="fa fa-angle-right"></i></strong></a>
                    </div>
                </div>
                <!-- Tasks end-->
                <!-- Log out               -->
                <div class="list-inline-item logout">
                    <a id="logout" href="{{ url_for('auth.logout') }}" class="nav-link">
                        Выход
                        <i class="icon-logout">
                        </i>
                    </a>
                </div>

            </div>
        </div>
    </nav>
</header>
<div class="d-flex align-items-stretch">
    <!-- Sidebar Navigation-->
    <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{{ current_user.avatar(64)}}" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <a href="{{ url_for('main.user', username=current_user.username) }}"><h1 class="h5">{{ current_user.name }}</h1></a>
                <p>Антон</p>
            </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Навигация</span>
        <ul class="list-unstyled">
            {% if index == True %}
            <li class="active">
                {% else %}
            <li>
                {% endif %}
                <a href="/index"> <i class="icon-home"></i>Просмотр</a>
            </li>
            {% if control == True %}
            <li class="active">
                {% else %}
            <li>
                {% endif %}
                <a href="/control"> <i class="icon-grid"></i>Управление</a>
            </li>
            <li>
                <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
                    <i class="fa fa-cogs">
                    </i>
                    Настройки
                </a>
                <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                    <li>
                        <a href="/settings/sensors">Датчики</a>
                    </li>
                    <li>
                        <a href="/settings/switches">Переключатели</a>
                    </li>
                    <li>
                        <a href="#">Page</a>
                    </li>
                </ul>
            </li>
        </ul><span class="heading">Extras</span>
        <ul class="list-unstyled">
            <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
        </ul>
    </nav>
    <!-- Sidebar Navigation end-->



    <div class="page-content">
        <div class="page-header">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom">{{title}}</h2>
            </div>
        </div>



        {% block content %}
        <!-- инклудим контент сюда -->
        <!-- Начинаем обязательно с <div class="content"> </div> -->
        {% endblock %}
    </div>


    <footer class="footer">
        <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
                <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                <p class="no-margin-bottom">2018 &copy; Your company. Design by <a href="https://bootstrapious.com">Bootstrapious</a>.</p>
            </div>
        </div>
    </footer>
</div>

</body>
<!--   Core JS Files   -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/popper.js/umd/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery.cookie/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-validation/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts-home.js') }}"></script>
<script src="{{ url_for('static', filename='js/front.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.locale.ru.js') }}"></script>

<script>
    $('document').ready(function () {
        $('#modal').modal();
    });
</script>

</html>
