<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="stats-2-block block d-flex">
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-thermometer"></i></div>
                        <div class="stats-2-content">
                            <strong class="d-block" id='room'></strong>
                            <span class="d-block">Комната</span>
                        </div>
                    </div>
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-lightbulb-o"></i></div>
                        <div class="stats-2-content">
                            <button onclick=room() class="btn btn-primary" id="switch_light"><i class="fa fa-power-off"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="stats-2-block block d-flex">
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-thermometer"></i></div>
                        <div class="stats-2-content">
                            <strong class="d-block" id='kitchen'></strong>
                            <span class="d-block">Кухня</span>
                        </div>
                    </div>
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-lightbulb-o"></i></div>
                        <div class="stats-2-content">
                            <button onclick=kitchen() class="btn btn-primary" id="switch_light"><i class="fa fa-power-off"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="stats-2-block block d-flex">
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-thermometer"></i></div>
                        <div class="stats-2-content">
                            <strong class="d-block" id='bathroom'></strong>
                            <span class="d-block">Ванная</span>
                        </div>
                    </div>
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-lightbulb-o"></i></div>
                        <div class="stats-2-content">
                            <button onclick=bathroom() class="btn btn-primary" id="switch_light"><i class="fa fa-power-off"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="stats-2-block block d-flex">
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-thermometer"></i></div>
                        <div class="stats-2-content">
                            <strong class="d-block" id='hallway'></strong>
                            <span class="d-block">Коридор</span>
                        </div>
                    </div>
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-lightbulb-o"></i></div>
                        <div class="stats-2-content">
                            <button onclick=hallway() class="btn btn-primary" id="switch_light"><i class="fa fa-power-off"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="stats-2-block block d-flex">
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-thermometer"></i></div>
                        <div class="stats-2-content">
                            <strong class="d-block" id='hall'></strong>
                            <span class="d-block">Прихожая</span>
                        </div>
                    </div>
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-lightbulb-o"></i></div>
                        <div class="stats-2-content">
                            <button onclick=kitchen() class="btn btn-primary" id="switch_light"><i class="fa fa-power-off"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="stats-2-block block d-flex">
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-thermometer"></i></div>
                        <div class="stats-2-content">
                            <strong class="d-block" id='balcony'></strong>
                            <span class="d-block">Балкон</span>
                        </div>
                    </div>
                    <div class="stats-2 d-flex">
                        <div class="stats-2-arrow height"><i class="fa fa-thermometer"></i></div>
                        <div class="stats-2-content">
                            <button onclick=balcony() class="btn btn-primary" id="switch_light"><i class="fa fa-power-off"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
