<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Развернуть навигацию</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">
                {{ title }}
            </a>
        </div>
        <div class="collapse navbar-collapse">

            <form class="navbar-form navbar-left navbar-search-form" role="search">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" value="" class="form-control" placeholder="Search...">
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url_for('main.user', username=current_user.username) }}" class="btn-magnify">
                        <i class="ti-panel"></i>
                        <p>Профиль</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#notifications" class="dropdown-toggle btn-rotate" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                        <span class="notification">5</span>
                        <p class="hidden-md hidden-lg">
                            Уведомления
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#not1">Notification 1</a></li>
                        <li><a href="#not2">Notification 2</a></li>
                        <li><a href="#not3">Notification 3</a></li>
                        <li><a href="#not4">Notification 4</a></li>
                        <li><a href="#another">Another notification</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}" class="btn-rotate">
                        <i class="ti-shift-left"></i>
                        <p class="hidden-md hidden-lg">
                            Выход
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>