{% extends "base.html" %}
{% block content %}


{% include 'block_lights.html' %}

{% if control == True %}
<script>
    ajaxCall();

    function ajaxCall() {
        let kitchenSource = new EventSource("/kitchen_values");
        kitchenSource.onmessage = function(e) {
            $('#kitchen').text(e.data)
        };

        let kitchenTimeStamp = new EventSource('/kitchen_timestamp');
        kitchenTimeStamp.onmessage = function(e){
            $('#kitchentime').text(e.data)
        };

        let roomSource = new EventSource("/room_values");
        roomSource.onmessage = function(e) {
            $('#room').text(e.data)
        };
        let bathroomSource = new EventSource("/bathroom_values");
        bathroomSource.onmessage = function(e) {
            $('#bathroom').text(e.data)
        };
        let hallSource = new EventSource("/hall_values");
        hallSource.onmessage = function(e) {
            $('#hall').text(e.data)
        };
        let hallwaySource = new EventSource("/hallway_values");
        hallwaySource.onmessage = function(e) {
            $('#hallway').text(e.data)
        };
        let balconySource = new EventSource("/balcony_values");
        balconySource.onmessage = function(e) {
            $('#balcony').text(e.data)
        }
    }
</script>

<script>
    function hall() {
        $.post("/switch/hall/1");
        console.log("Status changed")
    }
    function room() {
        $.post("/switch/room/1");
        console.log("Status changed")
    }
    function kitchen() {
        $.post("/switch/hall/1");
        console.log("Status changed")
    }
</script>
{% endif %}


{% endblock %}