{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="block">
                    <div class="title"><strong class="d-block">Редактировать профиль</strong></div>
                    <div class="block-body">
                        {{ wtf.quick_form(form, button_map={'submit_button': 'btn btn-outline-primary'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
