{% extends "base.html" %}
{% block content %}


    {% include 'block_lights.html' %}
    <selection>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="line-chart block chart"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <div class="title"><strong>Графики температур</strong></div>
                        <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
                    </div>
                </div>
            </div>
        </div>
    </selection>

    {% if index == True %}
        <script>
            ajaxCall();

            function ajaxCall() {
                let kitchenSource = new EventSource("/kitchen_values");
                kitchenSource.onmessage = function(e) {
                    $('#kitchen').text(e.data)
                };

                let kitchenTimeStamp = new EventSource('/kitchen_timestamp');
                kitchenTimeStamp.onmessage = function(e){
                    $('#kitchentime').text(e.data)
                };

                let roomSource = new EventSource("/room_values");
                roomSource.onmessage = function(e) {
                    $('#room').text(e.data)
                };
                let bathroomSource = new EventSource("/bathroom_values");
                bathroomSource.onmessage = function(e) {
                    $('#bathroom').text(e.data)
                };
                let hallSource = new EventSource("/hall_values");
                hallSource.onmessage = function(e) {
                    $('#hall').text(e.data)
                };
                let hallwaySource = new EventSource("/hallway_values");
                hallwaySource.onmessage = function(e) {
                    $('#hallway').text(e.data)
                };
                let balconySource = new EventSource("/balcony_values");
                balconySource.onmessage = function(e) {
                    $('#balcony').text(e.data)
                }
            }
        </script>

        <script>
            function hall() {
                $.post("/switch/hall/1");
                console.log("Status changed")
            }
            function room() {
                $.post("/switch/room/1");
                console.log("Status changed")
            }
            function kitchen() {
                $.post("/switch/hall/1");
                console.log("Status changed")
            }
        </script>
    {% endif %}


{% endblock %}