{% extends "/base.html" %}
{% block content %}


<selection>
    <div class="container-fluid">
        <div class="col-lg-8">
            <div class="row">
                <div class="title"><strong>Схема квартиры</strong></div>
            </div>
            <div id="Map" class="map map-big" style="position: relative; overflow: hidden;">
                <img src="{{ url_for('static', filename='map.svg') }}" alt="" width="800" height="923">
                <svg xmlns = "http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 800 923">
                    <!-- Квадраты для датчиков -->
                    <!-- Кухня -->
                    <rect x="27" y="142" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>
                    <text x="45" y="178" font-size="19">
                        {{ kitchen_temp }}°C
                    </text>
                    <rect x="27" y="209" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>
                    <text x="54" y="246" font-size="19">
                        64%
                    </text>
                    <image x="12" y="154" width="50" height="35" xlink:href="static/svg/thermometer.svg"/>

                    <image x="14" y="222" width="50" height="35" xlink:href="static/svg/waterdrop.svg"/>
                    <!-- Комната -->
                    <rect x="415" y="141" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>
                    <text x="432" y="177" font-size="19">
                        {{ room_temp }}°C
                    </text>
                    <rect x="415" y="207" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>
                    <text x="442" y="246" font-size="19">
                        58%
                    </text>
                    <image x="400" y="154" width="50" height="35" xlink:href="static/svg/thermometer.svg"/>

                    <image x="402" y="222" width="50" height="35" xlink:href="static/svg/waterdrop.svg"/>

                    <!-- Прихожая -->
                    <rect x="231" y="603" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>
                    <text x="249" y="639" font-size="19">
                        {{ hall_temp }}°C
                    </text>
                    <image x="215" y="615" width="50" height="35" xlink:href="static/svg/thermometer.svg"/>

                    <rect x="306" y="838" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>

                    <!-- Ванная -->
                    <rect x="83" y="769" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>
                    <text x="103" y="806" font-size="19">
                        {{ bathroom_temp}}°C
                    </text>

                    <image x="70" y="780" width="50" height="35" xlink:href="static/svg/thermometer.svg"/>

                    <rect x="83" y="836" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>

                    <text x="111" y="874" font-size="19">
                        {{ bathroom_humidity}}%
                    </text>


                    <image x="70" y="850" width="50" height="35" xlink:href="static/svg/waterdrop.svg"/>

                    <!-- Коридор -->
                    <rect x="696" y="837" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>
                    <text x="714" y="876" font-size="19">
                        {{ hallway_temp}}°C
                    </text>
                    <image x="681" y="850" width="50" height="35" xlink:href="static/svg/thermometer.svg"/>

                    <!-- Балкон -->
                    <rect x="694" y="18" width="80" height="60" style="fill:#cccccc;fill-opacity:0.5854701;stroke:#000000;stroke-opacity:0.24358975"></rect>
                    <text x="715" y="54" font-size="19">
                        {{ weather }}°C
                    </text>

                    <image x="680" y="30" width="50" height="35" xlink:href="static/svg/thermometer.svg"/>



                    <!-- Квадраты для освещения -->
                    <rect x="170" y="295" width="80" height="80" style="fill:#ccd0af;fill-opacity:0.69230772;stroke:#000000;stroke-opacity:0.49145298"></rect>
                    <image x="185" y="315" width="50" height="35" xlink:href="static/svg/bulb.svg" onclick="kitchen()"/>

                    <rect x="26" y="433" width="80" height="80" style="fill:#ccd0af;fill-opacity:0.69230772;stroke:#000000;stroke-opacity:0.49145298"></rect>
                    <rect x="72" y="656" width="80" height="80" style="fill:#ccd0af;fill-opacity:0.69230772;stroke:#000000;stroke-opacity:0.49145298"></rect>
                    <rect x="277" y="714" width="80" height="80" style="fill:#ccd0af;fill-opacity:0.69230772;stroke:#000000;stroke-opacity:0.49145298"></rect>
                    <rect x="534" y="787" width="80" height="80" style="fill:#ccd0af;fill-opacity:0.69230772;stroke:#000000;stroke-opacity:0.49145298"></rect>
                    <rect x="557" y="361" width="80" height="80" style="fill:#ccd0af;fill-opacity:0.69230772;stroke:#000000;stroke-opacity:0.49145298"></rect>
                    <rect x="549" y="21" width="80" height="80" style="fill:#ccd0af;fill-opacity:0.69230772;stroke:#000000;stroke-opacity:0.49145298"></rect>

                </svg>
            </div>

        </div>
    </div>
</selection>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

    setInterval(ajaxCall, 1000);

    function ajaxCall() {
        let kitchenSource = new EventSource("/kitchen_values");
        kitchenSource.onmessage = function(e) {
            $('#kitchen').text(e.data)
        };
        let roomSource = new EventSource("/room_values");
        roomSource.onmessage = function(e) {
            $('#room').text(e.data)
        };
        let bathroomSource = new EventSource("/bathroom_values");
        bathroomSource.onmessage = function(e) {
            $('#bathroom').text(e.data)
        };
        let hallSource = new EventSource("/hall_values");
        hallSource.onmessage = function(e) {
            $('#hall').text(e.data)
        };

        let hallwaySource = new EventSource("/hallway_values");
        hallwaySource.onmessage = function(e) {
            $('#hallway').text(e.data)
        };
        let balconySource = new EventSource("/hallway_values");
        balconySource.onmessage = function(e) {
            $('#balcony').text(e.data)
        };


    }
    function kitchen() {
        $.post("/switch/room/1");
        console.log("Status changed")
    }
</script>
{% endblock %}