{% extends "base.html" %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            {{ status }}
        </div>
    </div>
</div>

{% endblock %}