{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card card-user">
                    <div class="header">
                        <div class="icon-big icon-danger text-center">
                            <i class="ti-server"></i>
                        </div>
                        <div class="title">
                            <h4 class="text-center title">
                                SmartHome
                            </h4>
                        </div>

                    </div>
                    <br>
                    <hr>

                    <div class="content">
                        <div class="row">
                            <div class="col-md-6  text-center">
                                <b>Операционная система:</b>
                            </div>
                            <div class="col-md-6 text-center">
                                {{ system["dist"] }} {{ system["os"] }} {{ system["version"] }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6  text-center">
                                <b>Версия ядра:</b>
                            </div>
                            <div class="col-md-6 text-center">
                                {{ system["os.release"] }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <b>Аптайм:</b>
                            </div>
                            <div class="col-md-6 text-center">
                                {{ uptime }}
                            </div>

                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h5>{{ sensors }}<br><small>Датчиков</small></h5>
                            </div>
                            <div class="col-md-4">
                                <h5>{{ triggers }}<br><small>Триггеров</small></h5>
                            </div>
                            <div class="col-md-3">
                                <h5> {{ events }}<br><small>Событий</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">

                    <div class="header">
                        <div class="row">
                            <div class="col-xs-10">
                                <h4 class="title">Устройства в квартире</h4>
                            </div>
                            <div class="col-xs-2">
                                <div class="pull-right">
                                    <a class="btn btn-success btn-sm btn-fill" href="/add_device" role="button">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <ul class="list-unstyled team-members">


                            {% for i in computers %}

                            <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            {% if i.type == "computer" %}
                                            <img src="static/img/devices/desktop.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">

                                            {% elif i.type == "laptop" %}
                                            <img src="static/img/devices/desktop.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">

                                            {% elif i.type == "mobile" %}
                                            <img src="static/img/devices/unknown.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                            {% else %}
                                            <img src="static/img/devices/unknown.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                            {% endif %}


                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        {{ i.hostname }}
                                        <br>
                                        {% if i.status == 1 %}
                                        <span class="text-success"><small>Доступен</small></span>

                                        {% else %}

                                        <span class="text-danger"><small>Недоступен</small></span>
                                        {% endif %}
                                    </div>

                                    <div class="col-xs-3 text-right">
                                        <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                    </div>
                                </div>
                            </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                {% for x in servers %}
                <div class="card">
                    <div class="header">
                        <div class="icon-big icon-danger text-center">
                            <i class="ti-server"></i>
                        </div>
                        <div class="title">
                            <h4 class="text-center title">
                                {{ x.name }}
                            </h4>
                        </div>

                    </div>
                    <br>
                    <hr>

                    <div class="content">
                        <div class="row">
                            <div class="col-md-6  text-center">
                                <b>Операционная система:</b>
                            </div>
                            <div class="col-md-6 text-center">
                                {{ x.os }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6  text-center">
                                <b>IP адрес:</b>
                            </div>
                            <div class="col-md-6 text-center">
                                {{ x.ip_address }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <b>Роль:</b>
                            </div>
                            <div class="col-md-6 text-center">
                                {{ x.role }}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <b>Описание:</b>
                            </div>
                            <div class="col-md-6 text-center">
                                {{ x.desctiption }}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <b>Статус:</b>
                            </div>
                            <div class="col-md-6 text-center">
                                {% if x.status == 1 %}
                                <span class="text-success">Доступен</span>
                                {% endif %}
                                {% if x.status == 0 %}
                                <span class="text-danger">Недоступен</span>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>
{% endblock %}