{% extends "base.html" %}

{% block content %}
<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="user-block block text-center">
                    <div class="avatar"><img src="{{ user.avatar(128) }}" alt="..." class="img-fluid">
                        <div class="order dashbg-2">1st</div>
                    </div><a href="#" class="user-title">
                    <h3 class="h5">{{ current_user.name }}</h3><span>{{ _('Последний визит') }}: {{ moment(user.last_seen).format('LLL') }}</span></a>
                    <div class="row">
                        <div class="col-lg-12">
                            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="{{ url_for('main.edit_profile') }}">{{ _('Редактировать профиль') }}</a>

                        </div>
                        <div class="col-lg-6">
                            Тест
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
